name: Generate snake animation
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Nightkilller
          outputs: |
            dist/github-contribution-grid-snake.svg
    # commit files
      - uses: actions/upload-artifact@v3
        with:
          name: snake
          path: dist
